<h2 class="application">Application for:<%=@application.property.address%></h2>

<p>
  <strong>Applicant Name:</strong>
  <%= @application.applicant.name %>
</p>
<p class="feedback">
  <strong>Applicant Feedback:</strong>
  <%= @application.applicant_feedback %>
</p>
<p>
  <strong>Owner Name:</strong>
  <%= @application.property.owner.name %>
</p>
<p class="feedback">
  <strong>Owner Feedback:</strong>
  <%= @application.owner_feedback %>
</p>
<p>
  <strong>Application Decision:</strong>
  <%= @application.status %>
</p>

<%if @current_user.user_type == 'owner'%>
  <%= link_to 'Update Application', edit_application_path(@application.id) %>
<% end %>
