<h2 class="application">Application for:<%=@application.property.address%></h2>

<p>
  <strong>Applicant Name:</strong>
  <%= @application.applicant.name %>
</p>
<p>
  <strong>Applicant Feedback:</strong>
  <%= @application.applicant_feedback.ease %>
</p>
<p>
  <strong>Owner Name:</strong>
  <%= @application.property.owner.name %>
</p>
<p>
  <strong>Owner Feedback:</strong>
  <%= @application.owner_feedback.ease %>
</p>
<p>
  <strong>Application Decision:</strong>
  <%= @status[@application.decision_id] %>
</p>
