<h2 class="application">Application for: <%=@application.property.address%></h2>

<p>
  <strong>Applicant Name:</strong>
  <%= @application.applicant.name %>
</p>
<p class="feedback">
  <strong>Applicant Feedback:</strong>
  <%= @application.applicant_feedback.ease %>
</p>
<p>
  <strong>Owner Name:</strong>
  <%= @application.property.owner.name %>
</p>
<p class="feedback">
  <strong>Owner Feedback:</strong>
  <%= @application.owner_feedback.ease %>
</p>
<p>
  <strong>Application Decision:</strong>
  <%= @application.status %>
</p>

<%if @current_user.user_type == 'owner'%>
  <%= form_with model: @application, local: true do |f| %>
    <%= f.label :status %>
    <br>
    <%= f.select :status, Application.statuses.keys, :prompt => 'Select One' %>
    <br>
    <%= f.submit 'Update Application' %>
  <% end %>
<% end %>

<% unless @application.pending? %>
<h2 class="market">Please Give Feedback</h2>
<%= form_with model: Feedback.new, local: true do |f| %>
  <%= f.label :ease, 'How was the overall experience?' %>
  <br>
  <%= f.select :ease, Feedback.eases.keys, :prompt => 'Select One' %>
  <br>
  <%= f.label :communication, 'How quickly did you hear back from the other party?' %>
  <br>
  <%= f.select :communication, Feedback.communications.keys, :prompt => 'Select One' %>
  <br>
  <%= f.label :interaction, 'How were they to deal with?' %>
  <br>
  <%= f.select :interaction, Feedback.interactions.keys, :prompt => 'Select One' %>
  <br>
  <br>
  <%= f.hidden_field :application_id, value: @application.id %>
  <%= f.submit 'Send Feedback' %>
  <% end %>
<% end %>
