<h3>Hi <%=@current_user.name%>, here is your profile</h3>

<p>
  <strong>Email:</strong>
  <%= @current_user.email%>
</p>
<br>
<p>
  <strong>Reality User Type:</strong>
  <%= @current_user.user_type%>
</p>
<br>
<p><strong>Pending Applications:</strong></p>
<ul>
<% if @current_user.user_type == 'owner' %>
  <% @current_user.owner_applications.each do |owner_app| %>
    <li>
      <%= link_to owner_app.property.address, application_path(owner_app.id) %>
    </li>
  <% end %>
<% end %>
</ul>
<ul>
<% @current_user.applications.each do |app| %>
    <li>
      <%= link_to app.property.address, application_path(app.id) %>
    </li>
<% end %>
</ul>

  <strong>My Properties:</strong>
  <% if @current_user.user_type == 'owner'%>
    <ul>
    <% @current_user.properties.each do |p| %>
      <li>
          <%= link_to p.address, property_path(p.id)%>
      </li>

    <% end %>
    </ul>
  <% end %>
