<!DOCTYPE html>
<html>
  <head>
    <title>Reality</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <h1 id="title">Reality</h1>
  </header>
  <body>
    <h2 class="market">
    <% if @current_user.present? %>
    Welcome, <%= @current_user.name %>
    <% end %>
    </h2>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %>
        <%= link_to 'Logout', login_path, method: 'delete' %>
        <%= link_to 'My Profile', profile_path %>
        <%= link_to 'My Applications', applications_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      <%= link_to 'Marketplace', properties_path %>
    <hr>
    </nav>
    <%= yield %>
  </body>
  <footer>
    <hr>
    &copy; Alistair Gray 2020
  </footer>
</html>
