<!DOCTYPE html>
<html>
  <head>
    <title>Reality</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <h1>Reality</h1>
    <h2>Be in the know</h2>
    <nav>

    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
